<app-header></app-header>

<section id="section-hero">
    <div class="container">
      <div class="row">
    <div class="row justify-content-center">
      <div class="col-12 text-center mt-5">
        <p class="text">Minimalist Room</p>
        </div>
            <div class="col-12 text-center mt-3 ">
                <div class="hero-txt">
                <p style="text-align:center;">It is a long established fact that a reader will be  distracted by the readable content of a page when looking at its layout.</p>
                </div>
                </div>
            </div>
         </div>
    </div>
</section>

  
<section class="img-grid section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-4 mt-4">
                <div class="img-cont">
                    <div class="img">
                        <img src="assets/img/backgroudpic.svg" style="width:100%;" class="img-fluid" alt="Responsive image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-grid section-padding mt-4">
    <div class="container">
        <div class="row mb-100">
            <div class="col-md-6">
                <div class="cont">
                    <div class="title mt-2">
                        <h5><b>Project Overview</b></h5>
                    </div>
                    <div class="blog-content">
                        <p style="text-align: left;">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-content">
                         <div class="date">
                        <span class="date-text">14 sep 2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="blog-content">
                    <div class="date">
                        <span class="tag-text">Interior Design - Furnitur</span>
                    </div>
                 </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                 <div class="cont">
                    <div class="title mt-2">
                        <h5><b>Design Process</b></h5>
                            </div>
                                 <div class="blog-content">
                                 <p style="text-align: left;">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
                             <p style="text-align: left;">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
                     </div>
              </div>
         </div>
    </div>
    </div>
</section>

<section class="gallery-grid section-padding">
    <div class="container">
        <div class="row mb-100">
            <div class="col-md-6 mt-4">
            <div class="img-cont">
                <div class="img">
                    <img src="assets/img/pic1.png" style="width:100%;" class="img-fluid" alt="">
                </div>
           
            </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="img-cont">
                    <div class="img">
                        <img src="assets/img/pic2.png" style="width:100%;" class="img-fluid" alt="">
                    </div>
                </div>
         </div>
         </div>
         <div class="row">
            <div class="col-md-12 col-sm-4 mt-4">
                <div class="img-cont">
                    <div class="img">
                        <img src="assets/img/pic3.svg" style="width:100%;" class="img-fluid" alt="Responsive image" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-100">
            <div class="col-md-6 mt-4">
            <div class="img-cont">
                <div class="img">
                    <img src="assets/img/pic4.png" style="width:100%;" class="img-fluid" alt="">
                </div>
           
            </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="img-cont">
                    <div class="img">
                        <img src="assets/img/pic5.png" style="width:100%;" class="img-fluid" alt="">
                    </div>
                </div>
         </div>
         </div>
    </div>
</section>


<app-footer></app-footer>