
<section id="section" class="contact section-padding">
    <div class="container-fluid mt-5" style="background-color: #2C3878 !important;">
      <div class="row">
        <div class="col-md-6 mt-5 mb-4 ml-3">
          <div class="section-header text-center">
            <p class="contact-intro">let's discuss making your interior<br>like a dream place!</p>
          </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="section-header text-center pb-5">
              <p class="contact-text">Contact us below to work together to build your<br> amazing interior</p>
               <p style=" text-align: left;">
                <button class="btn btn-light" type="button">Contact Us</button>
            </p>
            </div>
          </div>
      </div>
  
    </div>
   </section>

   <section id="section" class="info section-padding">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 col-sm-6 mt-3">
          <div class="footer-logo">
            <img src="assets/img/logo.png" alt="Dananz" width="126" height="54">  
          </div>
        </div>
        <div class="col-md-6 col-sm-6 mt-5">
            <div class="contact-form">
                <div><span class="ellipse"></span><label class="label">Enter  your email to get the latest news</label>   
                 
                </div>
                    <p><input type="text" placeholder="Enter Address"><span><a type="button"><img src="assets/img/arrow.png" alt="Dananz" width="23.5" height="9.01"></a></span></p>   
            </div>
          </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="footer-paragraph">
            <p>One of the best furniture<br>agency.</p> 
          </div>
        </div>
        <div class="col-md-6 mt-5 float-right">
            <div class="social">
                <p class="social-text">Follow us on</p>
                <ul class="rest">
                        <a class="px-1 dot" href="#0"><img src="assets/img/facebook.png" alt="Dananz" width="24" height="24"> </a>
                        <a class="px-1 dot" href="#0"><img src="assets/img/instagram.png" alt="Dananz" width="24" height="24"> </a>
                        <a class="px-1 dot" href="#0"><img src="assets/img/tiktok.png" alt="Dananz" width="24" height="24"> </a>
                        <a class="px-1 dot" href="#0"><img src="assets/img/youtube.png" alt="Dananz" width="24" height="24"> </a>
                </ul>
            </div>
          </div>
      </div>
    </div>
   </section>